
.ship-card {
    width: 200px;
    margin: 10px;
    height: 93%;
  }

  .ship-card-sm {
    width: 100%;
    margin: 10px;
    height: 93%;
  }

.ship-card-img {
    max-width: 100%;
}

.ship-card-btn {
    bottom: 3px;
    position: absolute;
    right: 2px;
}

