.people-card {
    max-width: 300px;
    margin: 10px;
  }
  
  .people-header-image {
   
    background-size: cover;
  }

  .people-film-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }


  