.vehicle-card {
    max-width: 300px;
    margin: 10px;
  }
  
  .vehicle-header-image {
   
    background-size: cover;
  }

  .vehicle-film-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }


  